<div class="desktop-screenshot print__avoid-break-inside {{ theme || default }}">
    <div class="desktop-screenshot__browser-frame">
        <span class="desktop-screenshot__browser-frame-button"></span>
        <span class="desktop-screenshot__browser-frame-button"></span>
        <span class="desktop-screenshot__browser-frame-button"></span>
    </div>
    <video autoplay playsinline loop muted inline alt="{{alt}}" src="{{src}}" oncanplay="this.parentElement.classList.add('LOADED')"></video>
</div>