<footer class="footer print__hide">
    <ul>
        <li>
            <span lang="en"><a href="/help/" class="footer__link">Support</a></span>
            <span lang="sv"><a href="/help/" class="footer__link">Support</a></span>
        </li>
        <li>
            <span lang="en"><a href="/news/" class="footer__link">News</a></span>
            <span lang="sv"><a href="/news/" class="footer__link">Nyheter</a></span>
        </li>
        <li>
            <span lang="en"><a href="/jobs/" class="footer__link">Work with us</a></span>
            <span lang="sv"><a href="/jobs/" class="footer__link">Lediga tjänster</a></span>
        </li>
        <li>
            <span lang="en">Developed by <a href="http://www.viaecole.se/" rel="noreferrer" class="footer__link" target="_blank">ViaEcole</a></span>
            <span lang="sv">Utvecklat av <a href="http://www.viaecole.se/" rel="noreferrer" class="footer__link" target="_blank">ViaEcole</a></span>
        </li>
    </ul>
    <div class="footer__select-language-panel">
        <div>
            <button class="footer__select-language-button" data-select-language="en">English</button>
        </div>
        <div>|</div>
        <div>
            <button class="footer__select-language-button" data-select-language="sv">Svenska</button>
        </div>
    </div>
</footer>