<footer class="footer print__hide">
    <div class="footer__content">
        <div class="footer__section">
            <h3>
                <span lang="en">Product</span>
                <span lang="sv">Produkten</span>
            </h3>
            <ul>
                <li>
                    <span lang="en"><a href="/news/" class="footer__link">News</a></span>
                    <span lang="sv"><a href="/news/" class="footer__link">Nyheter</a></span>
                </li>
                <li>
                    <span lang="en"><a href="/help/" class="footer__link">Support</a></span>
                    <span lang="sv"><a href="/help/" class="footer__link">Support</a></span>
                </li>
                <li>
                    <span lang="en"><a href="/sign-in.html" class="footer__link">Sign in</a></span>
                    <span lang="sv"><a href="/sign-in.html" class="footer__link">Logga in</a></span>
                </li>
                <li>
                    <span><a href="/status" class="footer__link">Status</a></span>
                </li>
            </ul>
        </div>

        <div class="footer__section">
            <h3>
                <span lang="en">Company</span>
                <span lang="sv">Företaget</span>
            </h3>
            <ul>
                <li>
                    <span lang="en"><a href="/about/" class="footer__link">About us</a></span>
                    <span lang="sv"><a href="/about/" class="footer__link">Om oss</a></span>
                </li>
                <li>
                    <span lang="en"><a href="/contact/" class="footer__link">Contact</a></span>
                    <span lang="sv"><a href="/contact/" class="footer__link">Kontakt</a></span>
                </li>
                <li>
                    <span lang="en"><a href="/jobs/" class="footer__link">Work with us</a></span>
                    <span lang="sv"><a href="/jobs/" class="footer__link">Lediga tjänster</a></span>
                </li>
                <li>
                    <a href="https://www.linkedin.com/company/learnpoint/" class="footer__link EXTERNAL" target="_blank" rel="noopener noreferrer">LinkedIn</a>
                </li>
            </ul>
        </div>
        <div class="footer__section">
            <div class="footer__select-language-panel">
                <div>
                    <button class="footer__select-language-button" data-select-language="en">English</button>
                </div>
                <div>|</div>
                <div>
                    <button class="footer__select-language-button" data-select-language="sv">Svenska</button>
                </div>
            </div>
        </div>
    </div>
</footer>