<meta charset="UTF-8">
<title>{{ title || Learnpoint }}</title>
<meta name="description" content="{{ description || Skapa utbildningar, registrera studenter, dela ut uppgifter, skriv nyheter, och betygsätt studenter. Allt på ett ställe. }}" />
<meta name="robots" content="{{ robots || index }}" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

<link rel="icon" href="/_images/favicons/favicon.png" type="image/png">
<link rel="apple-touch-icon" href="/_images/favicons/favicon.png">
<link rel="mask-icon" href="/_images/favicons/mask-icon.svg" color="#0780FF">

<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;0,700;1,400&family=Raleway:wght@800&display=block">

<link rel="stylesheet" href="/_styles/main.css">
<link rel="stylesheet" href="/_styles/print.css">
<link rel="stylesheet" href="/_styles/components/header.css">
<link rel="stylesheet" href="/_styles/components/footer.css">
<link rel="stylesheet" href="/_styles/components/language.css">

<script src="/_scripts/components/print.js"></script>
<script src="/_scripts/components/is-mobile.js"></script>
<script src="/_scripts/components/language.js"></script>