<link rel="stylesheet" href="/_styles/components/help-sidebar.css">
<script defer src="/_scripts/vendor/fuse-6.6.2.js"></script>
<script defer src="/_scripts/components/help-sidebar-search.js"></script>


<button type="button" data-element="help-sidebar.open-button" class="help-sidebar__open-button print__hide" aria-label="Open Menu">
    <!-- svg/hamburger.svg -->
</button>

<aside class="help-sidebar print__hide" data-element="help-sidebar">

    <div class="help-sidebar__close-button-panel">
        <button type="button" data-element="help-sidebar.close-button" class="help-sidebar__close-button" aria-label="Open Menu">
            <!-- svg/close.svg -->
        </button>
    </div>

    <form role="search" class="help-sidebar__search" data-element="help-sidebar.search-form">
        <input aria-label="Search Help" class="help-sidebar__search-input" name="q" data-element="help-sidebar.search-input" />
        <!-- svg/search.svg -->
        <div class="help-sidebar__search-results"></div>
    </form>

    <nav>

        <section>
            <a href="/help/">
                <span lang="en">Help</span>
                <span lang="sv">Hjälp</span>
            </a>
        </section>

        <section>
            <h2>
                <span lang="en">Get started</span>
                <span lang="sv">Kom igång</span>
            </h2>
            <a lang="en" href="/help/getting-started/sign-in.html">Sign in</a>
            <a lang="sv" href="/help/getting-started/sign-in.html">Logga in</a>
        </section>

        <section>
            <h2>
                <span lang="en">Groups</span>
                <span lang="sv">Grupper</span>
            </h2>
            <a lang="en" href="/help/groups/introduction.html">Introduction</a>
            <a lang="sv" href="/help/groups/introduction.html">Inledning</a>
            <a lang="en" href="/help/groups/content.html">Content</a>
            <a lang="sv" href="/help/groups/content.html">Innehåll</a>
            <a lang="en" href="/help/groups/news.html">Posts</a>
            <a lang="sv" href="/help/groups/news.html">Nyheter</a>
            <a lang="en" href="/help/groups/documents.html">Documents</a>
            <a lang="sv" href="/help/groups/documents.html">Material</a>
            <a lang="en" href="/help/groups/students.html">Students</a>
            <a lang="sv" href="/help/groups/students.html">Studenter</a>
            <a lang="en" href="/help/groups/staff.html">Staff</a>
            <a lang="sv" href="/help/groups/staff.html">Personal</a>
            <a lang="en" href="/help/groups/calendar.html">Calendar</a>
            <a lang="sv" href="/help/groups/calendar.html">Kalender</a>
            <a lang="en" href="/help/groups/courses.html">Courses</a>
            <a lang="sv" href="/help/groups/courses.html">Kurser</a>
            <a lang="en" href="/help/groups/about.html">About</a>
            <a lang="sv" href="/help/groups/about.html">Om</a>
        </section>

        <section>
            <h2>
                <span lang="en">Grading</span>
                <span lang="sv">Betygsättning</span>
            </h2>
            <a lang="en" href="/help/grading/grade.html">Grade</a>
            <a lang="sv" href="/help/grading/grade.html">Sätta betyg</a>
            <a lang="en" href="/help/grading/publish.html">Publish grades</a>
            <a lang="sv" href="/help/grading/publish.html">Publicera betyg</a>
        </section>

        <section>
            <h2>
                <span lang="en">Internship</span>
                <span lang="sv">LIA</span>
            </h2>
            <a lang="en" href="/help/internship/introduction.html">Introduction</a>
            <a lang="sv" href="/help/internship/introduction.html">Inledning</a>
            <a lang="en" href="/help/internship/add.html">Add</a>
            <a lang="sv" href="/help/internship/add.html">Lägg till</a>
            <a lang="en" href="/help/internship/log.html">Logbook</a>
            <a lang="sv" href="/help/internship/log.html">Loggbok</a>
            <a lang="en" href="/help/internship/surveys.html">Surveys</a>
            <a lang="sv" href="/help/internship/surveys.html">Enkäter</a>
            <a lang="en" href="/help/internship/settings.html">Settings</a>
            <a lang="sv" href="/help/internship/settings.html">Inställningar</a>
        </section>

        <section>
            <h2>
                <span lang="en">Administration</span>
                <span lang="sv">Administration</span>
            </h2>
            <a lang="en" href="/help/admin/groups.html">Groups</a>
            <a lang="sv" href="/help/admin/groups.html">Grupper</a>
            <a lang="en" href="/help/admin/staff.html">Staff</a>
            <a lang="sv" href="/help/admin/staff.html">Personal</a>
            <a lang="en" href="/help/admin/students.html">Students</a>
            <a lang="sv" href="/help/admin/students.html">Studenter</a>
            <a lang="en" href="/help/admin/student-status.html">Student status</a>
            <a lang="sv" href="/help/admin/student-status.html">Studerandestatus</a>
            <a lang="en" href="/help/admin/roles.html">Roles</a>
            <a lang="sv" href="/help/admin/roles.html">Roller</a>
        </section>

    </nav>

</aside>

<script src="/_scripts/components/help-sidebar.js"></script>