<link rel="stylesheet" href="/_styles/components/help-sidebar.css">
<script defer src="/_scripts/vendor/fuse-6.6.2.js"></script>
<script defer src="/_scripts/components/help-sidebar-search.js"></script>


<button type="button" data-element="help-sidebar.open-button" class="help-sidebar__open-button print__hide" aria-label="Open Menu">
    <!-- svg/hamburger.svg -->
</button>

<aside class="help-sidebar print__hide" data-element="help-sidebar">

    <div class="help-sidebar__close-button-panel">
        <button type="button" data-element="help-sidebar.close-button" class="help-sidebar__close-button" aria-label="Open Menu">
            <!-- svg/close.svg -->
        </button>
    </div>

    <form role="search" class="help-sidebar__search" data-element="help-sidebar.search-form">
        <input aria-label="Search Help" class="help-sidebar__search-input" name="q" data-element="help-sidebar.search-input" />
        <!-- svg/search.svg -->
        <div class="help-sidebar__search-results"></div>
    </form>

    <nav>

        <section>
            <a href="/help/">
                <span lang="en">Help</span>
                <span lang="sv">Hjälp</span>
            </a>
        </section>

        <section>
            <h2>
                <span lang="en">Get started</span>
                <span lang="sv">Kom igång</span>
            </h2>
            <a lang="en" href="/help/getting-started/sign-in.html">Sign in</a>
            <a lang="sv" href="/help/getting-started/sign-in.html">Logga in</a>
            <a lang="en" href="/help/getting-started/notifications.html">Notifications</a>
            <a lang="sv" href="/help/getting-started/notifications.html">Aviseringar</a>
            <a lang="en" href="/help/getting-started/profile-page.html">Profile page</a>
            <a lang="sv" href="/help/getting-started/profile-page.html">Profilsidan</a>
        </section>

        <section>
            <h2>
                <span lang="en">Groups</span>
                <span lang="sv">Grupper</span>
            </h2>
            <a lang="en" href="/help/groups/introduction.html">Introduction</a>
            <a lang="sv" href="/help/groups/introduction.html">Inledning</a>
            <a lang="en" href="/help/groups/channels.html">Channels</a>
            <a lang="sv" href="/help/groups/channels.html">Kanaler</a>
            <a lang="en" href="/help/groups/posts.html">Announcements</a>
            <a lang="sv" href="/help/groups/posts.html">Nyheter</a>
            <a lang="en" href="/help/groups/documents.html">Documents</a>
            <a lang="sv" href="/help/groups/documents.html">Material</a>
            <a lang="en" href="/help/groups/students.html">Students</a>
            <a lang="sv" href="/help/groups/students.html">Studenter</a>
            <a lang="en" href="/help/groups/staff.html">Staff</a>
            <a lang="sv" href="/help/groups/staff.html">Personal</a>
            <a lang="en" href="/help/groups/about.html">About</a>
            <a lang="sv" href="/help/groups/about.html">Om</a>
        </section>

        <section>
            <h2>
                <span lang="en">Course content</span>
                <span lang="sv">Kursinnehåll</span>
            </h2>
            <a lang="en" href="/help/content/introduction.html">Introduction</a>
            <a lang="sv" href="/help/content/introduction.html">Inledning</a>
            <a lang="en" href="/help/content/sections.html">Sections</a>
            <a lang="sv" href="/help/content/sections.html">Avsnitt</a>
            <a lang="en" href="/help/content/course-items.html">Course items</a>
            <a lang="sv" href="/help/content/course-items.html">Kursdelar</a>
            <a lang="en" href="/help/content/import-content.html">Import content</a>
            <a lang="sv" href="/help/content/import-content.html">Importera innehåll</a>
        </section>

        <section>
            <h2>
                <span lang="en">Grading</span>
                <span lang="sv">Betyg</span>
            </h2>
            <a lang="en" href="/help/grading/introduction.html">Introduction</a>
            <a lang="sv" href="/help/grading/introduction.html">Inledning</a>
            <a lang="en" href="/help/grading/course-items.html">Course items</a>
            <a lang="sv" href="/help/grading/course-items.html">Kursdelar</a>
            <a lang="en" href="/help/grading/courses.html">Courses</a>
            <a lang="sv" href="/help/grading/courses.html">Kurser</a>
        </section>

        <section>
            <h2>
                <span lang="en">Internship</span>
                <span lang="sv">LIA</span>
            </h2>
            <a lang="en" href="/help/internship/introduction.html">Introduction</a>
            <a lang="sv" href="/help/internship/introduction.html">Inledning</a>
            <a lang="en" href="/help/internship/internship.html">Internships</a>
            <a lang="sv" href="/help/internship/internship.html">LIA-plats</a>
            <a lang="en" href="/help/internship/settings.html">Settings</a>
            <a lang="sv" href="/help/internship/settings.html">Inställningar</a>
        </section>

    </nav>

</aside>

<script src="/_scripts/components/help-sidebar.js"></script>