html {
    scrollbar-width: thin;
    --text-color: #0f1016;
    --text-color-muted: #424555;
    --link-color: #0470e1;
    --background-color: #fffcf6;
    --background-color: #fafafa;
    --background-color: rgb(249, 247, 245);
    --background-color-tinted: #fff;
    --background-color-tinted-hover: #fbfbfb;
    --background-color-tinted-active: #f5f5f5;
    --dark-mode-transition: color .16s, background-color .16s;
}

html.dark:not(.print) {
    --text-color: #eee;
    --text-color-muted: #ccc;
    --link-color: #3e9bfd;
    --background-color: #272727;
    --background-color-tinted: #333;
    --background-color-tinted-hover: #3a3a3a;
    --background-color-tinted-active: #2f2f2f;
}

body {
    margin: 0;
    font-family: 'Open Sans', 'Segoe UI', sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    color: var(--text-color);
    background-color: var(--background-color);
    line-height: 1.5;
    font-size: 18px;
    overflow-y: scroll;
    transition: var(--dark-mode-transition);
}

.print body {
    overflow-y: auto;
    background-color: #fff;
    font-size: 16px;
}

.main__container {
    max-width: 1200px;
    max-width: 960px;
    margin: 0 auto;
    padding: 0 16px;
}

h1 {
    font-family: 'Raleway', 'Segoe UI', sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    font-weight: 800;
    font-weight: 900;
    text-align: center;
    font-size: 64px;
    font-size: 58px;
    margin: 64px auto 24px;
    line-height: 1.1;
    line-height: 1;
}

.is-mobile h1 {
    font-size: 28px;
    font-size: 32px;
    margin: 24px auto 16px;
}

h2 {
    font-family: 'Raleway', 'Segoe UI', sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    margin: 1.6em 0 .3em;
    line-height: 1.1;
    font-size: 1.1em;
    font-size: 1.3em;
}

p {
    margin: 0 0 1em;
}

a {
    color: #0470e1;
    color: var(--link-color);
    transition: var(--dark-mode-transition);
}

/* .dark a {
    color: #3e9bfd;
} */

.is-mobile .desktop {
    display: none;
}

.is-desktop .mobile {
    display: none;
}