.desktop-screenshot {
    border-radius: 10px;
    box-shadow: 0 4px 16px rgba(0, 0, 0, .1);
    box-shadow: 0 1px 2px rgba(0,0,0,0.07), 
    0 2px 4px rgba(0,0,0,0.07), 
    0 4px 8px rgba(0,0,0,0.07), 
    0 8px 16px rgba(0,0,0,0.07),
    0 16px 32px rgba(0,0,0,0.07), 
    0 32px 64px rgba(0,0,0,0.07);
    overflow: hidden;
    opacity: 0;
    transform: scale(.99);
    transform-origin: 50% 20%;
    transition: opacity, transform .6s;
}

.desktop-screenshot.LOADED {
    transform: none;
    opacity: 1;
}

.desktop-screenshot__browser-frame {
    background: #f2f2f2;
    padding: 0 10px;
    height: 36px;
    display: flex;
    align-items: center;
}

.desktop-screenshot.dark .desktop-screenshot__browser-frame {
    background: #222;
}

.desktop-screenshot__browser-frame-button {
    height: 12px;
    width: 12px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, .12);
    margin: 0 3px;
}

.desktop-screenshot__browser-frame-button:nth-child(1) {
    background-color: #FF6058;
}

.desktop-screenshot__browser-frame-button:nth-child(2) {
    background-color: #FFBE2F;
}

.desktop-screenshot__browser-frame-button:nth-child(3) {
    background-color: #27CA41;
}

.desktop-screenshot img {
    display: block;
    width: 100%;
}
