.screenshot {
    border-radius: 4px;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.06),
        0 10px 40px -20px rgba(0, 0, 0, 0.25),
        0 20px 60px -25px rgba(0, 0, 0, 0.2),
        0 20px 20px -30px rgba(0, 0, 0, 0.1),
        0 40px 30px -40px rgba(0, 0, 0, 0.2),
        0 60px 40px -50px rgba(0, 0, 0, 0.1),
        0 16px 32px rgba(0, 0, 0, 0.04);
    overflow: hidden;
    opacity: 0;
    transform: scale(.98);
    transform-origin: 50% 20%;
    transition: opacity, transform .6s;
}

.print .screenshot {
    box-shadow: none;
}

.screenshot.LOADED {
    transform: none;
    opacity: 1;
}

.screenshot img {
    display: block;
    width: 100%;
    border-radius: 4px;
    /* Must be same as wrapper */
}