.not-found__paragraph {
    text-align: center;
    margin: 32px auto;
}

.not-found__home-link {
    margin: 0 auto;
    text-decoration: none;
    font-weight: 600;
    color: #0780ff;
    border-bottom: 2px solid #0780ff;
    padding: 1px 3px;
}
