/* =========================================================================
   Help Page
   ========================================================================= */

.help-page {
    position: relative;
    max-width: 1080px;
    margin: 2em auto 0;
    display: grid;
    grid-template-columns: 246px auto;
    gap: 32px;
    gap: 16px;
}

.is-mobile .help-page {
    display: block;
}

.print .help-page {
    display: block;
}



/* =========================================================================
   Sidebar Area
   ========================================================================= */

.help-page__sidebar-area {
    border-right: 1px solid #ccc;
    padding-right: 24px;
    padding-right: 16px;
}

.print .help-page__sidebar-area {
    display: none;
}



/* =========================================================================
   Main Area
   ========================================================================= */

.help-page__main-area {
    padding: 0 16px;
}

.is-mobile .help-page__main-area {
    padding: 0;
}



/* =========================================================================
   h1
   ========================================================================= */

.help-page h1 {
    margin: 0 0 .5em;
    font-size: 2.5em;
    text-align: left;
}

.is-mobile .help-page h1 {
    font-size: 1.5em;
    font-size: 1.6em;
    padding: 0 0 0 38px;
    padding: 0 40px 0 0;
    margin-bottom: 1em;
}

.print .help-page h1 {
    padding: 0;
}



/* =========================================================================
   h2
   ========================================================================= */

.help-page h2 {
    margin-top: 1.8em;
    font-size: 1.4em;
}

.is-mobile .help-page h2 {
    font-size: 1.1em;
}

.help-page .screenshot + h2,
.help-page .desktop-screenshot + h2 {
    margin-top: 3em;
}



/* =========================================================================
   ol, ul, li
   ========================================================================= */

.help-page ol,
.help-page ul {
    margin: 0 0 1em;
    margin: .5em 0 1em;
    padding: 0 0 0 1.3em;
}

.help-page p+ol,
.help-page p+ul {
    margin-top: -.5em;
}

.help-page li {
    margin-bottom: .5em;
    line-height: 1.3;
}



/* =========================================================================
   code
   ========================================================================= */

.help-page code {
    font: inherit;
    font-weight: 600;
    font-size: 16px;
    background-color: rgba(100, 0, 0, .06);
    padding: 0 5px;
    border-radius: 4px;
}



/* =========================================================================
   Desktop Screenshot
   ========================================================================= */

.help-page .desktop-screenshot {
    margin: 0 auto 2em;
    max-width: 640px;
}



/* =========================================================================
   Screenshot
   ========================================================================= */

.help-page .screenshot {
    margin: 0 auto 2em;
    max-width: 640px;
}



/* =========================================================================
   Next Page Link
   ========================================================================= */

.help-page__next-page-link {
    display: none;
    margin: 3em 0 0;
    padding: 1.5em 0 0;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
}

.help-page__next-page-link:has(a:not([href=""])) {
    display: block;
}
