.index__subtitle {
    font-family: 'Raleway', 'Segoe UI', sans-serif;
    text-align: center;
    font-size: 32px;
    margin: -8px auto 24px;
    line-height: 1.1;
}

.is-mobile .index__subtitle {
    font-size: 18px;
}

.index__tagline {
    margin: 0 auto;
    text-align: center;
    line-height: 1.4;
    font-size: 24px;
    font-weight: 600;
    max-width: 640px;
}

.is-mobile .index__tagline {
    font-size: 20px;
}

.index__hero-image {
    width: 900px;
    margin: 64px auto;
}

.index__laptop-frame {
    position: relative;
    width: 700px;
    height: 425px;
    margin: 32px auto;
    border: 15px solid #3f3f41;
    border-top: 20px solid #3f3f41;
    border-radius: 14px 14px 0 0;
    box-shadow: 0 0 0 1px #d1d2d4;
    background-color: #000;
}

.is-mobile .index__laptop-frame {
    display: none;
}

.index__laptop-frame::after {
    content: "";
    bottom: -35px;
    background: #f2f2f2;
    border: 1px solid #ddd;
    box-shadow: 0 1px 4px rgba(0, 0, 0, .16);
    height: 20px;
    width: 850px;
    border-radius: 0 0 10px 10px;
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}

.index__laptop-frame img {
    width: 100%;
    height: 100%;
}

.index__feature {
    display:flex;
    margin: 164px 0;
    flex-wrap: wrap;
}

.is-mobile .index__feature {
    display:block;
    margin: 16px 0 48px;
    text-align: center;
}

.is-mobile .index__feature:last-child {
    margin: 16px 0 96px;
}

.index__feature-text {
    width:400px;
    width: 320px;
    margin: 0 32px;
    line-height: 1.5;
}

.is-mobile .index__feature-text {
    width: auto;
    max-width: 480px;
    margin: 0 auto;
    padding: 16px 0;
}

.index__feature-text.ALIGN-RIGHT {
    order:2;
}

.is-mobile .index__feature-text.ALIGN-RIGHT {
    order:1;
} 

.index__feature-title {
    margin: 18px 0 4px;
    font-family: Raleway, 'Segoe UI', sans-serif;
}

.index__feature-image {
    flex: 1;
}

.is-mobile .index__feature-image.MOBILE,
.is-desktop .index__feature-image.DESKTOP {
    display: block;
}

.is-mobile .index__feature-image.DESKTOP,
.is-desktop .index__feature-image.MOBILE {
    display: none;
}

.index__contact {
    text-align: center;
    padding: 48px 48px 16px;
    padding: 48px 132px 16px;
    color: #fff;
    max-width: 420px;
    max-width: 320px;
    margin: 64px auto;
    border-radius: 32px;
    background: #0780ff;
}

.is-mobile .index__contact {
    padding: 38px 32px 12px;
    margin: 32px auto;
}   

.index__contact-title {
    font-size: 28px;
    line-height: 1.1;
    font-weight: bold;
    margin: 0 0 24px;
}

.is-mobile .index__contact-title {
    font-size: 20px;
    margin: 0 0 20px;
} 

.index__contact-paragraph {
    font-size: 20px;
    line-height: 1.3;
    margin: 0 0 20px;
    margin: 0 0 24px;
}

.is-mobile .index__contact-paragraph {
        font-size: 18px;
        margin: 0 0 16px;
}

.index__contact-link {
    color: #fff;
    font-weight: 600;
    padding: 0 2px;
}

.index__heart-emoji {
    display: inline-block;
    vertical-align: middle;
    font-size: 1.2em;
}
