/* =========================================================================
   Preamble
   ========================================================================= */

.jobs__preamble {
    text-align: center;
    max-width: 640px;
    margin: 0 auto;
}


/* =========================================================================
   List
   ========================================================================= */

.jobs__list {
    max-width: 520px;
    margin: 3em auto;
    padding: 0;
}



/* =========================================================================
   List Item
   ========================================================================= */

.jobs__list a {
    display: flex;
    text-decoration: none;
    flex-direction: column;
    color: var(--text-color);
    margin-bottom: 1em;
    background-color: var(--background-color-tinted);
    box-shadow: 0 4px 16px rgb(0 0 0 / 4%), 0 2px 8px rgb(0 0 0 / 1%);
    padding: 24px 32px;
    border-radius: 8px;
}

.is-mobile .jobs__list a {
    padding: 16px;
}

.dark .jobs__list a {
    box-shadow: none;
}

.is-desktop .jobs__list a:hover {
    background-color: var(--background-color-tinted-hover);
}

.is-desktop .jobs__list a:active {
    background-color: var(--background-color-tinted-active);
}



/* =========================================================================
   Title
   ========================================================================= */

.jobs__title {
    font-family: inherit;
    font-size: 1.2em;
    font-weight: bold;
    margin: 0 0 6px;
}



/* =========================================================================
   Information
   ========================================================================= */

.jobs__information {
    line-height: 1.2;
    padding: 3px 0 0;
}



/* =========================================================================
   Information Item
   ========================================================================= */

.jobs__information-item {
    font-size: .8em;
}

.jobs__information-item::after {
    content: ' ★';
    display: inline;
    padding: 0 6px;
}

.jobs__information-item:last-child::after {
    content: none;
}