/* =========================================================================
   Preamble
   ========================================================================= */

.preamble {
    text-align: center;
    max-width: 640px;
    margin: 0 auto;
}



/* =========================================================================
   List
   ========================================================================= */

.news-list {
    max-width: 520px;
    margin: 3em auto;
}



/* =========================================================================
   List Item
   ========================================================================= */

.news-list a {
    display: flex;
    text-decoration: none;
    flex-direction: column;
    gap: 4px;
    color: var(--text-color);
    margin-bottom: 1em;
    background-color: var(--background-color-tinted);
    box-shadow: 0 4px 16px rgb(0 0 0 / 4%), 0 2px 8px rgb(0 0 0 / 1%);
    padding: 24px 32px;
    border-radius: 8px;
}

.is-mobile .news-list a {
    padding: 16px;
}

.dark .news-list a {
    box-shadow: none;
}

.is-desktop .news-list a:hover {
    background-color: var(--background-color-tinted-hover);
}

.is-desktop .news-list a:active {
    background-color: var(--background-color-tinted-active);
}



/* =========================================================================
   Title
   ========================================================================= */

.news-list a .title {
    font-weight: bold;
    font-size: 1.1em;
    line-height: 1.2;
    padding: 3px 0;
}

.is-mobile a .title {
    font-size: 1em;
}



/* =========================================================================
   Date
   ========================================================================= */

.news-list a .date,
.news-list a:hover .date {
    font-weight: normal;
    font-size: .8em;
    margin: 0 2px
}
