.news-article {
    max-width: 690px;
    margin: 0 auto;
}

.news-article h1 {
    margin-bottom: 18px;
    text-align: left;
    font-size: 42px;
}

.is-mobile .news-article h1 {
    font-size: 28px;
}

.news-article .meta {
    margin: 0 0 24px;
    display: flex;
    gap: 16px;
    align-items: center;
    padding: 0 0 20px;
    border-bottom: 1px solid rgb(0 0 0 / .1);
    line-height: 1;
}

.dark .news-article .meta {
    border-color: rgba(255 255 255 / .5);
}

.news-article .meta .author {
    margin: 0;
    font-weight: bold;
    font-size: 16px;
}

.news-article .meta .date {
    color: var(--text-color-muted);
    transition: var(--dark-mode-transition);
    font-size: 14px;
}

.news-article .meta .author-image {
    width: 48px;
    height: 48px;
    background-size: 48px 48px;
    background-color: transparent;
    border: 1px solid #ddd;
    border-radius: 50%;
    filter: grayscale(.2);
}

.dark .news-article .meta .author-image {
    border-color:#fff;
}

.news-article .desktop-screenshot {
    max-width: 640px;
    margin: 0 auto;
}

.news-article h2 {
    font-size: 1.2em;
    margin: 1.6em 0 .2em;
}

.news-article .desktop-screenshot+h2 {
    margin-top: 2.5em;
}

.news-article .desktop-screenshot+p {
    margin-top: 2.5em;
}
