/* =========================================================================
   Link
   ========================================================================= */

.sign-in__link {
    color: var(--text-color);
}



/* =========================================================================
   Form
   ========================================================================= */

.sign-in__form {
    max-width: 400px;
    margin: 16px auto 16px;
}



/* =========================================================================
   Input Wrap
   ========================================================================= */

.sign-in__input-wrap {
    position: relative;
    margin-bottom: 12px;
}



/* =========================================================================
   Search Input Wrap
   ========================================================================= */

.sign-in__search-input-wrap {
    position: relative;
    margin-bottom: 12px;
    margin-bottom: 20px;
}



/* =========================================================================
   Search Input
   ========================================================================= */

.sign-in__search-input {
    font-family: inherit;
    font-size: 16px;
    line-height: 1.6;
    display: block;
    width: 100%;
    box-sizing: border-box;
    background-color: var(--background-color-tinted);
    color: var(--text-color);
    transition: var(--dark-mode-transition);
    border: 1px solid #aaa;
    border-radius: 5px;
    padding: 12px;
    margin: 0;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

/* Remove clear X button from Internet Explorer */
.sign-in__search-input::-ms-clear,
.sign-in__search-input::-ms-reveal {
    display: none;
    width: 0;
    height: 0;
}

/* Remove clear X button from webkit browsers */
.sign-in__search-input::-webkit-search-decoration,
.sign-in__search-input::-webkit-search-cancel-button,
.sign-in__search-input::-webkit-search-results-button,
.sign-in__search-input::-webkit-search-results-decoration {
    display: none;
}

.sign-in__search-input::placeholder {
    color: var(--text-color-extra-muted);
    transition: var(--dark-mode-transition);
}

.sign-in__search-input:focus {
    border-color: #0780ff;
    outline: 0;
    box-shadow: 0 0 3px rgba(7, 128, 255, .6);
}



/* =========================================================================
   Search Input svg
   ========================================================================= */

.sign-in__search-input-wrap svg {
    position: absolute;
    top: 17px;
    right: 17px;
    width: 18px;
    height: 18px;
    color: var(--text-color-extra-muted);
}



/* =========================================================================
   Search Result
   ========================================================================= */

.sign-in__search-result {
    position: absolute;
    z-index: 100;
    left: 0;
    right: 0;
    background: var(--background-color-tinted);
    margin: 1px 0 0 0;
    padding: 0;
    font-size: 14px;
    border-radius: 0 0 8px 8px;
    box-shadow:
        0 8px 8px rgba(0, 0, 0, .1),
        0 16px 16px rgba(0, 0, 0, .1),
        0 32px 32px rgba(0, 0, 0, .1),
        0 64px 64px rgba(0, 0, 0, .1)
}

.dark .sign-in__search-result {
    box-shadow: none;
}

.sign-in__search-result li {
    list-style: none;
    padding: 0;
    margin: 0;
    border-left: 3px solid transparent;
}

.sign-in__search-result li.sign-in__search-result-empty {
    padding: 8px 16px;
    font-style: italic;
}

.sign-in__search-result a {
    display: block;
    text-decoration: none;
    color: inherit;
    padding: 8px 16px;
    color: var(--link-color);
}

.sign-in__search-result li:first-child a {
    padding-top: 10px;
}

.sign-in__search-result li:last-child a {
    padding-bottom: 10px;
}

.sign-in__search-result li.selected,
.sign-in__search-result li:hover {
    background-color: var(--background-color-tinted-active);
    border-left: 3px solid var(--link-color);
}

.sign-in__search-result span {
    font-weight: bold;
    color: var(--text-color);
}




/* =========================================================================
   Help Message
   ========================================================================= */

.sign-in__help-message {
    margin: 0 0 64px;
    font-size: 15px;
    text-align: center;
}



/* =========================================================================
   Previous Logins
   ========================================================================= */

.sign-in__previous-logins {
    max-width: 400px;
    margin: 42px auto 32px;
}

.sign-in__previous-logins.EMPTY {
    display: none;
}



/* =========================================================================
   Previous Logins p
   ========================================================================= */

.sign-in__previous-logins p {
    margin: 0 0 12px;
    font-size: 15px;
    text-align: center;
}



/* =========================================================================
   Previous Logins ul
   ========================================================================= */

.sign-in__previous-logins ul {
    margin: 0;
    padding: 0;
}



/* =========================================================================
   Previous Login Item
   ========================================================================= */

.sign-in__previous-login-item {
    margin: 0 0 8px;
    padding: 0;
    background-color: #fff;
    background-color: var(--background-color-tinted);
    transition: var(--dark-mode-transition);
    border-radius: 5px;
    border: 1px solid #bbb;
    list-style: none;
    display: flex;
    gap: 16px;
    align-items: center;
    position: relative;
    overflow: hidden;
    justify-content: space-between;
}

.dark .sign-in__previous-login-item {
    border: 1px solid #666;
}



/* =========================================================================
   Previous Logins a
   ========================================================================= */

.sign-in__previous-logins a {
    margin: 0;
    flex: 1;
    padding: 12px 16px;
    font-size: 16px;
    font-weight: 600;
    text-decoration: none;
    color: var(--text-color);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}



/* =========================================================================
   Previous Login Delete Button
   ========================================================================= */

.sign-in__previous-login-delete-button {
    appearance: none;
    -webkit-appearance: none;
    border: 0;
    margin: 0;
    padding: 12px 16px;
    background-color: transparent;
    display: flex;
    justify-content: center;
    cursor: pointer;
    position: relative;
    z-index: 10;
}

.sign-in__previous-login-item.POPOVER-OPEN .sign-in__previous-login-delete-button {
    display: none;
}



/* =========================================================================
   Previous Login Delete Button svg
   ========================================================================= */

.sign-in__previous-login-delete-button svg {
    color: var(--text-color-muted);
    transition: var(--dark-mode-transition);
}

.sign-in__previous-login-delete-button:hover svg {
    color: var(--text-color);
}



/* =========================================================================
   Previous Login Delete Confirm Popover
   ========================================================================= */

.sign-in__previous-login-delete-confirm-popover {
    position: absolute;
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
    align-items: center;
    right: 9px;
    background-color: #fff;
    background-color: var(--background-color-tinted);
    display: flex;
}

.sign-in__previous-login-item.POPOVER-OPEN .sign-in__previous-login-delete-confirm-popover {
    pointer-events: auto;
    visibility: visible;
    opacity: 1;
}



/* =========================================================================
   Previous Login Confirm Delete  &  Previous Login Cancel Delete
   ========================================================================= */

.sign-in__previous-login-confirm-delete,
.sign-in__previous-login-cancel-delete {
    display: block;
    cursor: pointer;
    font-weight: 600;
    padding: 6px 10px;
    background-color: #fff;
    color: #000;
    border: 0;
    border-radius: 5px;
    font-family: inherit;
    font-size: 12px;
    line-height: 12px;
    outline: 0;
    text-align: center;
    -webkit-tap-highlight-color: rgba(0, 0, 0, .1);
    appearance: none;
    border: 1px solid #aaa;
}

.sign-in__previous-login-confirm-delete {
    color: #fff;
    background-color: #ed4337;
    border-color: transparent;
    margin-right: 7px;
}