/* .status-page {
    min-height: 300px;
    opacity: 0;
}

.status-page.LOADED {
    min-height: unset;
    opacity: unset;
} */

.status-page__status {
    margin-bottom: 2em;
}

.status-page__status-up,
.status-page__status-down {
    display: none;
}

.status-page__status.UP .status-page__status-up,
.status-page__status.DOWN .status-page__status-down {
    display: block;
}

.status-page__status svg {
    display: block;
    width: 64px;
    height: 64px;
    margin: 48px auto 24px;
    color: green;
}

.status-page__status-down svg {
    color: red;
}

.status-page__heading {
    font-size: 28px;
    text-align: center;
    margin: 0 0 8px;
}

.is-mobile .status-page__heading {
    font-size: 20px;
    text-align: center;
    margin: 0 0 8px;
}

.status-page__preamble {
    text-align: center;
    max-width: 640px;
    margin: 0 auto;
}

.status-page__calendar {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 16px;
}

.status-page__month {
    display: inline-block;
    background-color: #555;
    background-color: #fff;
    border-radius: 12px;
    padding: 1em;
    box-shadow: 0 0px 3px rgb(0 0 0 / 30%);
}

.status-page__month-header {
    display: flex;
    justify-content: space-between;
    color: #222;
    font-size: .9em;
    margin-bottom: .8em;
    line-height: 1;
}

.status-page__month-name {
    font-weight: bold;
}

.status-page__month-uptime {
    font-weight: 600;
}

.status-page__days {
    display: inline-grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: .3em;
}

.status-page__day {
    background-color: green;
    width: 28px;
    height: 28px;
    border-radius: 4px;
}

.status-page__day.INCIDENT {
    background-color: orange;
    cursor: pointer;
}

.status-page__day.INCIDENT.MAJOR {
    background-color: red;
    cursor: pointer;
}

.status-page__day.FUTURE {
    background-color: rgba(0, 0, 0, .06);
}

.status-page__day.OUTSIDE {
    background-color: transparent;
}

.status-page__pagination {
    display: flex;
    margin: 0 auto 1em;
    gap: .2em;
    justify-content: center;
    margin-bottom: .8em;
}

.status-page__pagination-button {
    width: 34px;
    height: 34px;
    margin: 0;
    padding: 0;
    /* padding: 2px; */
    /* border-radius: 50%; */
    display: flex;
    justify-content: center;
    align-items: center;
    appearance: none;
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: inherit;
    border: none;
    border-radius: 50%;
    color: #fff;
}

.status-page__pagination-button.DISABLED {
    color: #eee;
    cursor: default;
}

.status-page__pagination-button svg {
    width: 28px;
    height: 28px;
    background-color: #000;
    border-radius: 50%;
    border: 1px solid #aaa;
}

.status-page__pagination-button.DISABLED svg {
    background-color: #aaa;
    border-color: #ccc;
}

.status-page__incident-tooltip {
    font-size: 14px;
    position: absolute;
    background-color: #fbfbfb;
    border-radius: 8px;
    padding: 1em 1.2em 1.1em;
    box-shadow: 0 0px 6px rgb(0 0 0 / 30%);
    z-index: 1;
    width: 300px;
}

.status-page__incident-tooltip::before {
    content: '';
    position: absolute;
    background-color: #fff;
    top: -8px;
    left: 50%;
    display: block;
    width: 16px;
    height: 16px;
    border-top: 1px solid #ccc;
    border-left: 1px solid #ccc;
    border-right: 1px solid transparent;
    border-bottom: 1px solid transparent;
    transform: rotate(45deg);
    z-index: 1;
}

.status-page__incident-tooltip-header {
    display: flex;
    justify-content: space-between;
    font-weight: 600;
    margin-bottom: 1em;
    padding-bottom: .5em;
    border-bottom: 1px solid #ccc;
    color: #666;
    font-size: .8em;
}

.status-page__incident-tooltip-title {
    font-weight: bold;
    font-size: 1em;
    margin-bottom: .2em;
}

