.mobile-screenshot {
    margin: 6vw 16vw;
    border-radius: 5vw;
    background-color: #000;
    box-shadow: 0 0 0 3vw #000, 0 3vw 8vw 6vw rgba(0, 0, 0, .1);
    opacity: 0;
    transform: scale(.99);
    transform-origin: 50% 20%;
    transition: all .6s;
}

.mobile-screenshot.LOADED {
    transform: none;
    opacity: 1;
}

.mobile-screenshot__header {
    height: 14vw;
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mobile-screenshot__speaker {
    margin-bottom: 1.5vw;
    width: 16vw;
    height: 1vw;
    background-color: rgba(255, 255, 255, 0.16);
    border-radius: .5vw;
}

.mobile-screenshot__footer {
    height: 14vw;
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: center;

}

.mobile-screenshot__home-button {
    margin-top: 2.8vw;
    width: 9vw;
    height: 9vw;
    background-color: rgba(255, 255, 255, 0.12);
    border-radius: 50%;
}

.mobile-screenshot img {
    display: block;
    width: 100%;
    box-sizing: border-box;
    border-radius: 1vw;
}
