.about-page__content {
    max-width: 640px;
    margin: 0 auto;
}



/* ==========================================================================
   Team Members
   ========================================================================== */

.about-page__team-members {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 24px 24px;
    margin: 2em auto;
}

.is-mobile .about-page__team-members {
    gap: 16px 4px;
    margin: 2em -0.8em;
}

.about-page__team-member {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 130px;
}

.is-mobile .about-page__team-member {
    width: 110px;
}

.about-page__team-member-image {
    display: block;
    width: 120px;
    height: 120px;
    margin-bottom: 8px;
    border-radius: 50%;
    border: 2px solid #fff;
    box-shadow: 0 0 0 2px rgba(0, 0, 0, .3);
    filter: grayscale(.2) sepia(0.04);
}

.is-mobile .about-page__team-member-image {
    width: 90px;
    height: 90px;
}

.about-page__team-member-name {
    display: block;
    text-align: center;
    line-height: 1.2;
    font-size: .8em;
    font-weight: bold;
}

.is-mobile .about-page__team-member-name {
    font-size: .7em;
}

.about-page__team-member-department {
    display: block;
    text-align: center;
    line-height: 1.6;
    font-size: .75em;
    color: #444;
    /* display: none; */
}

.is-mobile .about-page__team-member-department {
    font-size: .7em;
}