/* =========================================================================
   Help Index Page
   ========================================================================= */

.help-index-page {
    position: relative;
    display: flex;
    align-items: stretch;
    max-width: 1080px;
    margin: 2em auto 0;
    gap: 32px;
    gap: 3vw;
}

.is-mobile .help-index-page {
    display: block;
}



/* =========================================================================
   Content
   ========================================================================= */

.help-index-page__content {
    flex-grow: 1;
}



/* =========================================================================
   h1
   ========================================================================= */

.help-index-page h1 {
    margin: 0 0 .5em;
    font-size: 3em;
    text-align: left;
    margin-top: 0em;
    text-align: center;
}

.is-mobile .help-index-page h1 {
    font-size: 1.5em;
    padding: 0 0 0 40px;
    margin-bottom: 1em;
}



/* =========================================================================
   Suppport Contact
   ========================================================================= */

.help-index-page__support-contact {
    line-height: 1.6;
    margin-bottom: 20px;
    text-align: center;
}



/* =========================================================================
   Suppport Contact svg
   ========================================================================= */

.help-index-page__support-contact svg {
    color: rgba(0, 0, 0, .5);
    color: #0780ff;
    height: 16px;
    width: 16px;
    margin: 0 10px 0 4px;
    position: relative;
    top: 2px;
}



/* =========================================================================
   Suppport Contact a
   ========================================================================= */

.help-index-page__support-contact a {
    color: inherit;
    text-decoration: none;
}



/* =========================================================================
   Suppport Opening Hours
   ========================================================================= */

.help-index-page__support-opening-hours {
    margin-bottom: 6px;
    text-align: center;
}



/* =========================================================================
   Suppport Opening Hours Table
   ========================================================================= */

.help-index-page__support-opening-hours-table {
    border-collapse: collapse;
    margin: 0 auto;
}

.help-index-page__support-opening-hours-table td {
    padding: 0 1em;
}


/* =========================================================================
   Sub Header
   ========================================================================= */

.help-index-page__sub-header {
    text-align: center;
    margin: 2em 0 1em;
    font-size: 2em;
}



/* =========================================================================
   Sub Header Tagline
   ========================================================================= */

.help-index-page__sub-header-tagline {
    text-align: center;
    margin-bottom: 3em;
}



/* =========================================================================
   Photo Gallery
   ========================================================================= */

.help-index-page__photo-gallery {
    display: flex;
    gap: 16px;
    margin-bottom: 10em;
}



/* =========================================================================
   Photo Gallery Item
   ========================================================================= */

.help-index-page__photo-gallery-item {
    width: 25%;
    flex-grow: 0;
    /* background-color: rgba(0,0,0,.1); */
}



/* =========================================================================
   Photo
   ========================================================================= */

.help-index-page__photo-gallery-item img {
    width: 100%;
    object-fit: contain;
    display: block;
    border-radius: 50%;
}



/* =========================================================================
   Photo Caption
   ========================================================================= */

.help-index-page__photo-gallery-item span {
    text-align: center;
    display: block;
    font-weight: 600;
    font-size: .8em;
}