.jobs__list {
    max-width: 480px;
    margin: 64px auto;
    padding: 0;
}

.jobs__list li {
    margin: 0 0 1.2em;
    padding: 0;
    list-style: none;
}

.jobs__list a {
    display: block;
    background-color: #fff;
    padding: 24px 32px;
    border-radius: 12px;
    text-decoration: none;
    color: inherit;
    transition: box-shadow .16s;
}

.jobs__list a:hover {
    box-shadow: 0 4px 16px rgb(0 0 0 / 10%);
}

.jobs__title {
    font-family: inherit;
    font-size: 1.2em;
    font-weight: bold;
    margin: 0 0 6px;
}

.jobs__information-item {
    font-size: .8em;
    color: #1d2d35;
}

.jobs__information-item::after {
    content: ' ★';
    display: inline;
    padding: 0 6px;
}

.jobs__information-item:last-child::after {
    content: none;
}