.preamble {
    text-align: center;
    max-width: 640px;
    margin: 0 auto;
}

.news-list {
    max-width: 520px;
    margin: 3em auto;
}

.news-list a {
    display: flex;
    text-decoration: none;
    flex-direction: column;
    gap: 4px;
    color: inherit;
    margin-bottom: 1em;
    background-color: rgba(255, 255, 255, .9);
    padding: 1em 1.5em;
    padding: 24px 32px;
    border-radius: 8px;
    transition: all .1s;
}

.news-list a:hover {
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 0 4px 16px rgb(0 0 0 / 8%),
        0 2px 8px rgb(0 0 0 / 2%);
}

.news-list a .title {
    font-weight: bold;
    font-size: 1.1em;
    line-height: 1.2;
    padding: 3px 0;
    color: #444;
}

.is-mobile a .title {
    font-size: 1em;
}

.news-list a:hover .title {
    color: #0070df;
    color: #000;
}

.news-list a .date,
.news-list a:hover .date {
    font-weight: normal;
    font-size: .8em;
    margin: 0 2px
}