.footer {
    border-top: 1px solid #ccc;
    max-width: 1200px;
    margin: 128px auto 64px;
    padding: 24px 16px;
    font-size: 14px;
}

.is-mobile .footer {
    margin: 64px auto;
}

.footer__content {
    max-width: 640px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1.5em;
}

.is-mobile .footer__content {
    flex-direction: column;
}

.footer__section {
    display: inline-block;
    width: 160px;
    /* background-color: rgba(0, 0, 0, .06); */
    vertical-align: top;
}

.footer h3 {
    margin: 0 0 8px;
    font-size: inherit;
}

.footer ul {
    margin: 0;
    padding: 0;
}

.footer li {
    list-style: none;
    margin: 0;
    padding: 0 0 7px;
}

.footer__link {
    cursor: pointer;
    color: #000;
    text-decoration: none;
}

.is-desktop .footer__link:hover {
    text-decoration: underline;
}

.footer__link.EXTERNAL {
    background-image: url(/_images/icons/external-link.svg);
    background-repeat: no-repeat;
    background-position: center right;
    background-size: 12px 12px;
    padding-right: 17px;
}

.footer__select-language-panel {
    display: flex;
    gap: 4px;
}

.footer__select-language-button {
    font: inherit;
    border: 0;
    padding: 0 4px;
    padding: 0;
    margin: 0;
    cursor: pointer;
    background: transparent;
    color: #666;
    appearance: none;
    -webkit-appearance: none;
}

html[lang="en"] .footer__select-language-button[data-select-language="en"],
html[lang="sv"] .footer__select-language-button[data-select-language="sv"] {
    color: inherit;
    font-weight: bold;
    cursor: text;
}

html[lang="en"].is-desktop .footer__select-language-button[data-select-language="sv"]:hover,
html[lang="sv"].is-desktop .footer__select-language-button[data-select-language="en"]:hover {
    text-decoration: underline;
}
