.screenshot {
    border-radius: 6px;
    box-shadow: 2px 8px 32px rgba(0, 0, 0, 0.1),
                4px 16px 64px rgba(0, 0, 0, 0.1);
    border: 1px solid #ddd;
    overflow: hidden;
    opacity: 0;
    transform: scale(.98);
    transform-origin: 50% 20%;
    transition: opacity, transform .6s;
}

.print .screenshot {
    box-shadow: none;
}

.screenshot.LOADED {
    transform: none;
    opacity: 1;
}

.screenshot img {
    display: block;
    width: 100%;
}