.header__nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 16px;
}

.header__logo {
    padding: 24px 24px 18px;
}

.header__logo img {
    display: block;
}

.header__links {
    display: flex;
    padding: 0 24px;
    align-items: center;
}

.header__link {
    padding: 8px;
    color: #000;
    font-weight: 600;
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
}
