/* =========================================================================
   Help Sidebar
   ========================================================================= */

.help-sidebar {
    flex: 0 0 246px;
}

.is-mobile .help-sidebar {
    display: none;
    min-width: unset;
    padding: 24px 16px;
    background-color: #333;
}

.is-mobile .help-sidebar.OPEN {
    display: block;
    position: fixed;
    overflow-y: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 1;
}



/* =========================================================================
   Open Button
   ========================================================================= */

.help-sidebar__open-button {
    display: none;
    width: 28px;
    height: 24px;
    cursor: pointer;
    position: absolute;
    top: -2px;
    left: 0;
    border: 0;
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: 4px;
    padding: 0;
    margin: 0;
    background-color: #fff;
    background-color: rgba(255, 255, 255, 1);
}

.is-mobile .help-sidebar__open-button {
    display: flex;
    justify-content: center;
    align-items: center;
}



/* =========================================================================
   Open Button svg
   ========================================================================= */

.help-sidebar__open-button svg {
    width: 16px;
    height: 16px;
    color: #777;
}



/* =========================================================================
   Close Button
   ========================================================================= */

.help-sidebar__close-button {
    display: none;
    justify-content: center;
    align-items: center;
    width: 36px;
    height: 36px;
    cursor: pointer;
    border: 0;
    border: 1px solid rgba(0, 0, 0, .2);
    border: 0;
    border-radius: 50%;
    padding: 0;
    margin: 0 0 24px;
    background-color: #fff;
    background-color: rgba(255, 255, 255, 1);
    background-color: rgba(255, 255, 255, .1);
}

.is-mobile .help-sidebar__close-button {
    display: flex;
}



/* =========================================================================
   Close Button svg
   ========================================================================= */

.help-sidebar__close-button svg {
    width: 28px;
    height: 28px;
    color: #fff;
}



/* =========================================================================
   Search
   ========================================================================= */

.help-sidebar__search {
    position: relative;
    margin: .2em 0 1.5em;
}



/* =========================================================================
   Search Input
   ========================================================================= */

.help-sidebar__search-input {
    width: 100%;
    display: block;
    box-sizing: border-box;
    padding: 6px 32px 6px 8px; /* extra room for search icon */
    font-family: inherit;
    font-size: .9em;
    border: none;
    border-radius: 4px;
    outline: none;
    appearance: none;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, .16);
}

.help-sidebar__search-input:focus {
    box-shadow: 0 0 2px 1px #0780ff;
}



/* =========================================================================
   Search Icon
   ========================================================================= */

.help-sidebar__search-icon {
    position: absolute;
    right: 8px;
    top: 8px;
    color: #777;
}



/* =========================================================================
   Search Result
   ========================================================================= */

.help-sidebar__search-results {
    display: none;
    box-sizing: border-box;
    position: absolute;
    z-index: 1;
    background-color: #fff;
    width: 130%;
    box-shadow: 0 2px 5px rgb(100 100 100 / 20%);
    border: 1px solid #ccc;
    border-radius: 4px;
}

.is-mobile .help-sidebar__search-results {
    width: 100%;
}

.help-sidebar__search-results.OPEN {
    display: block;
}

.help-sidebar__search-results>* {
    display: block;
    font-size: .9em;
    padding: 4px 8px 4px 12px;
    margin: 2px 0;
    text-decoration: none;
}

.help-sidebar__search-results>*:first-child {
    margin-top: 8px;
}

.help-sidebar__search-results>*:last-child {
    margin-bottom: 8px;
}

.help-sidebar__search-results>*:hover {
    background-color: rgba(0, 0, 0, .06);
}



/* =========================================================================
   nav
   ========================================================================= */

.help-sidebar nav {
    padding: 0 4px;
}



/* =========================================================================
   ul
   ========================================================================= */

.help-sidebar ul {
    margin: 0;
    padding: 0;
}



/* =========================================================================
   ul ul
   ========================================================================= */

.help-sidebar ul ul {
    display: none;
}

.help-sidebar ul li.OPEN ul {
    display: block;
}



/* =========================================================================
   li
   ========================================================================= */

.help-sidebar li {
    list-style: none;
    display: block;
    margin: 0;
}

.is-mobile .help-sidebar li {
    color: #eee;
}



/* =========================================================================
   a
   ========================================================================= */

.help-sidebar nav a {
    display: block;
    text-decoration: none;
    border-radius: 2px 4px 4px 2px;
    color: inherit;
    line-height: 1.2;
}



/* =========================================================================
   li li a
   ========================================================================= */

.help-sidebar nav li li a {
    font-size: 17px;
    padding: 6px 17px;
    border-radius: 6px;
}

.help-sidebar nav li li a.SELECTED {
    font-weight: 600;
}

.is-mobile .help-sidebar nav li li a.SELECTED {
    background-color: rgba(255, 255, 255, .2);
    color: #fff;
}



/* =========================================================================
   button
   ========================================================================= */

.help-sidebar nav button {
    appearance: none;
    display: flex;
    align-items: center;
    gap: 4px;
    cursor: pointer;
    margin: 1em 0 .2em -4px;
    margin: 8px 0 4px -4px;
    border: 0;
    padding: 0;
    padding: 6px 24px 4px 0;
    background: inherit;
    font: inherit;
    font-weight: 600;
}

.is-mobile .help-sidebar nav button {
    color: #fff;
}



/* =========================================================================
   button svg
   ========================================================================= */

.help-sidebar nav button svg {
    /* chevron */
    color: #000;
    width: 16px;
    height: 16px;
}

.is-mobile .help-sidebar nav button svg {
    /* chevron */
    color: #fff;
}

.help-sidebar nav li.OPEN button svg {
    /* right chevron */
    transform: rotate(90deg);
}