<!DOCTYPE html>
<html lang="sv">

<head>
    <!-- head-content.html -->
    <link rel="stylesheet" href="/_styles/pages/help-index-page.css">
</head>

<body>

    <!-- header.html -->

    <div class="main__container">
        <h1>Hjälp</h1>

        <p class="help-index-page__sub-header-tagline">Always humans, never bots. The hands-down, sharpest and friendliest support team in the biz. Questions? Accessibility concerns? Reach out, we're here for you!</p>

        <div class="help-index-page__photo-gallery">

            <div class="help-index-page__photo-gallery-item">
                <img src="_assets/stock-photos/05.jpg" alt="Anna" />
                <span>Anna</span>
            </div>
            <div class="help-index-page__photo-gallery-item">
                <img src="_assets/stock-photos/03.jpg" alt="Adam" />
                <span>Adam</span>
            </div>
            <div class="help-index-page__photo-gallery-item">
                <img src="_assets/stock-photos/16.jpg" alt="Sarah" />
                <span>Sarah</span>
            </div>
            <div class="help-index-page__photo-gallery-item">
                <img src="_assets/stock-photos/02.jpg" alt="Sam" />
                <span>Sam</span>
            </div>

        </div>

        <hr class="help-index-page__horizontal-rule" />

        <div class="help-index-page">
            <!-- help-sidebar.html -->
            <main class="help-index-page__content">
                {{ content }}
            </main>
        </div>
    </div>

    <!-- footer.html -->

</body>

</html>