<!DOCTYPE html>
<html lang="sv">

<head>
    <!-- head-content.html -->
    <link rel="stylesheet" href="/_styles/pages/help-page.css">
    <link rel="stylesheet" href="/_styles/components/desktop-screenshot.css">
    <link rel="stylesheet" href="/_styles/components/mobile-screenshot.css">
    <link rel="stylesheet" href="/_styles/components/screenshot.css">
</head>

<body>

    <!-- header.html -->

    <div class="main__container">
        <div class="help-page">
            <div class="help-page__sidebar-area">
                <!-- help-sidebar.html -->
            </div>
            <div class="help-page__main-area">
                <main class="help-page__main">
                    {{ content }}
                    <a class="help-page__next-page-link" href="{{ next_url || }}">{{ next || }}</a>
                </main>
            </div>
        </div>
    </div>

    <!-- footer.html -->

</body>

</html>