<!DOCTYPE html>
<html lang="sv">

<head>
    <!-- head-content.html -->
    <link rel="stylesheet" href="/_styles/pages/job-opening.css">
</head>

<body>

    <!-- header.html -->

    <main class="main__container">
        <div class="job-opening">
            {{ content }}
            <p style="text-align: center;margin-top: 3em;">
                <a href="/jobs">
                    <span lang="en">All our open positions →</span>
                    <span lang="sv">Alla lediga tjänster →</span>
                </a>
            </p>
            <p style="text-align: center;font-size:1.1em;">
                <!-- we-love-learning.html -->
            </p>
        </div>
    </main>

    <!-- footer.html -->

</body>

</html>