<!DOCTYPE html>
<html lang="sv">

<head>
    <!-- head-content.html -->
    <link rel="stylesheet" href="/_styles/pages/news-article-page.css">
    <link rel="stylesheet" href="/_styles/components/desktop-screenshot.css">
</head>

<body>

    <!-- header.html -->

    <main class="main__container">
        <div class="news-article">

            <h1>
                <span lang="en">{{ article-title-en }}</span>
                <span lang="sv">{{ article-title-sv }}</span>
            </h1>

            <div class="meta">
                <div class="author-image" alt="{{ author-name }}" style="background-image:url('/_images/authors/{{ author-image }}')"></div>
                <div>
                    <p class="author">{{ author-name }}</p>
                    <time class="date" lang="en">{{ date-en }}</time>
                    <time class="date" lang="sv">{{ date-sv }}</time>
                </div>
            </div>
            
            {{ content }}

            <p style="text-align: center;margin-top: 3em;">
                <a href="/news">
                    <span lang="en">View all news →</span>
                    <span lang="sv">Visa alla nyheter →</span>
                </a>
            </p>

            <p style="text-align: center;">
                <!-- we-love-learning.html -->
            </p>
        </div>
    </main>

    <!-- footer.html -->

</body>

</html>