.header__nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__logo {
    padding: 18px 24px;
}

.header__logo img {
    padding-top: 8px;
}

.header__links {
    display: flex;
    padding: 0 24px;
    align-items: center;
}

.header__link {
    padding: 8px;
    color: #000;
    font-weight: 600;
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
}
