body {
    margin: 0;
    font-family: 'Open Sans', 'Segoe UI', sans-serif;
    color: #1d2d35;
    line-height: 1.6;
    overflow-y: scroll;
    background-color: #FDF2E2;
    background-color: #FDF1E2;
    background-color: #FDF0E2;
    background-color: #FDEFE2;
    background-color: #fdeee3;
}

main {
    max-width: 900px;
    margin: 0 auto;
    font-size: 20px;
    padding: 0 16px;
}

h1 {
    font-family: 'Raleway', 'Segoe UI', sans-serif;
    font-weight: 800;
    text-align: center;
    font-size: 64px;
    margin: 64px auto 24px;
    line-height: 1.1;
}

@media (max-width: 560px) {
    h1 {
        font-size: 48px;
        margin: 32px auto 24px;
    }
}