/* ==========================================================================
   Print Page Setup
   ========================================================================== */

@page {
    margin: 48px;
}



/* ==========================================================================
   Force Background Image Display
   ========================================================================== */

.print * {
    -webkit-print-color-adjust: exact;
    color-adjust: exact;
}



/* ==========================================================================
   Body Defaults
   ========================================================================== */

   .print body {
    background-color: #fff;
    font-size: 16px;
}



/* ==========================================================================
   Tool: Hide
   ========================================================================== */

.print .print__hide {
    display: none;
}



/* ==========================================================================
   Tool: Avoid Break Inside
   ========================================================================== */

.print .print__avoid-break-inside {
    break-inside: avoid-page;
}
