.sign-in__title {
    font-family: 'Raleway', sans-serif;
    text-align: center;
    font-size: 64px;
    margin: 32px auto 0px;
    font-weight: 600;
    color: #333;
    line-height: 1.1;
}

.sign-in__paragraph {
    text-align: center;
    max-width: 520px;
    margin: 16px auto;
}

.sign-in__monospaced {
    font-weight: bold;
    padding: 0 1px;
}

.sign-in__link {
    color: #000;
}

.sign-in__form {
    max-width: 400px;
    margin: 16px auto 48px;
}

.sign-in__input-wrap {
    position: relative;
    font-size: 16px;
    margin-bottom: 12px;
}

.sign-in__input-overlay {
    position: absolute;
    pointer-events: none;
    padding: 12px;
    box-sizing: border-box;
    border: 1px solid transparent;
    left: 0;
    top: 0;
    width: 100%;
    color: transparent;
    overflow: hidden;
}

.sign-in__input-overlay:after {
    content: ".learnpoint.se";
    font-weight: 600;
    color: #000;
    margin-left: 1px;
}

.sign-in__input {
    display: block;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #aaa;
    border-radius: 5px;
    padding: 12px;
    font: inherit;
    transition: all .2s;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.sign-in__input::placeholder {
    color: #777;
}

.sign-in__input:focus {
    border-color: #3C9AF4;
    border-color: #0780ff;
    outline: 0;
    box-shadow: 0 0 3px rgba(60, 154, 244, .6);
    box-shadow: 0 0 4px rgba(7, 128, 255, .6);
}

.sign-in__form.ERROR .sign-in__input {
    border: 1px solid #e00;
    box-shadow: none;
}

.sign-in__form.ERROR .sign-in__input:focus {
    border: 1px solid #e00;
    box-shadow: 0 0 3px rgba(224, 0, 0, .9);
}

.sign-in__error-message {
    font-size: 14px;
    color: red;
    padding: 2px 4px;
    margin-bottom: 4px;
    opacity: 0;
    transition: all .2s;
}

.sign-in__form.ERROR .sign-in__error-message {
    opacity: 1;
}

.sign-in__error-message p {
    margin: 3px 0 0;
}

.sign-in__submit {
    display: block;
    width: 100%;
    color: #fff;
    font-weight: 600;
    padding: 16px;
    background-color: #0780ff;
    border: 0;
    border-radius: 5px;
    font-family: inherit;
    font-size: 16px;
    line-height: 16px;
    outline: 0;
    margin: 0;
    text-align: center;
    transition: opacity .2s;
    -webkit-tap-highlight-color: rgba(0, 0, 0, .1);
    -moz-appearance: none;
    -webkit-appearance: none;
    cursor: pointer;
    pointer-events: unset;
    opacity: 1;

}

.sign-in__form.EMPTY .sign-in__submit,
.sign-in__form.ERROR .sign-in__submit {
    pointer-events: none;
    cursor: default;
    opacity: .6;
}

.sign-in__help-message {
    margin: 48px 0;
    font-size: 16px;
    text-align: center;
}