.sign-in__title {
    font-family: 'Raleway', sans-serif;
    text-align: center;
    font-size: 64px;
    margin: 32px auto 24px;
    font-weight: 600;
    color: #333;
    line-height: 1.1;
}

.sign-in__paragraph {
    text-align: center;
    max-width: 520px;
    margin: 24px auto;
}

.sign-in__monospaced {
    /* font-family: 'Courier New', Courier, monospace; */
    font-weight: bold;
    /* font-style: italic; */
    padding: 0 1px;
}

.sign-in__link {
    color: #000;
}