body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    color: #1d2d35;
    line-height: 1.6;
    overflow-y: scroll;
    background-color: #FDEEE3;
}

main {
    max-width: 900px;
    margin: 0 auto;
    font-size: 20px;
    padding: 0 16px;
}
