/* =========================================================================
   Help Page
   ========================================================================= */

.help-page {
    position: relative;
    display: flex;
    align-items: stretch;
    max-width: 968px;
    margin: 2em auto 0;
    gap: 32px;
    gap: 3vw;
}

.is-mobile .help-page {
    display: block;
}



/* =========================================================================
   h1
   ========================================================================= */

.help-page h1 {
    margin: 0 0 .5em;
    font-size: 2em;
    text-align: left;
}

.is-mobile .help-page h1 {
    text-align: center;
    font-size: 1em;
    padding: 0 32px;
    margin-bottom: 1em;
}
