</main>

<footer class="footer">
    <div>
        <span lang="en">Learnpoint is developed by <a href="http://www.viaecole.se/" rel="noreferrer" class="footer__link" target="_blank">ViaEcole</a></span>
        <span lang="sv">Learnpoint är utvecklat av <a href="http://www.viaecole.se/" rel="noreferrer" class="footer__link" target="_blank">ViaEcole</a></span>
    </div>
    <div class="footer__select-language-panel">
        <div>
            <button class="footer__select-language-button" data-select-language="en">English</button>
        </div>
        <div>|</div>
        <div>
            <button class="footer__select-language-button" data-select-language="sv">Svenska</button>
        </div>
    </div>
</footer>
</body>

</html>