</main>
<footer class="footer">
    <div>
        <span lang="en">Learnpoint is developed by <a href="http://www.viaecole.se/" class="footer__link" target="_blank">ViaEcole</a></span>
        <span lang="sv">Learnpoint är utvecklat av <a href="http://www.viaecole.se/" class="footer__link" target="_blank">ViaEcole</a></span>
    </div>
    <div class="footer__select-language-panel">
        <div>
            <a class="footer__select-language-link" data-select-language="en">English</a>
        </div>
        <div>|</div>
        <div>
            <a class="footer__select-language-link" data-select-language="sv">Svenska</a>
        </div>
    </div>
</footer>
</body>

</html>