<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Learnpoint</title>
    <link rel="shortcut icon" type="image/png" href="/img/favicons/favicon.png" />
    <link href="https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Ultra&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/header.css">
    <script defer src="/js/main.js"></script>
</head>

<body>
    <header class="header">
        <nav class="header__nav">
            <a href="/" class="header__logo"><span>Learnpoint</span><span class="header__logo-dot">.</span></a>
            <div class="header__links">
                <!-- <a class="header__link" href="/sign-in.html">Sign in</a> -->
            </div>
        </nav>
    </header>
    <main>