<link rel="stylesheet" href="/css/components/help-sidebar.css">
<script defer src="https://cdn.jsdelivr.net/npm/fuse.js@6.4.6"></script>
<script defer src="/js/components/help-sidebar.js"></script>

<button type="button" data-element="help-sidebar.open-button" class="help-sidebar__open-button">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z" />
    </svg>
</button>

<div class="help-sidebar" data-element="help-sidebar">

    <button type="button" data-element="help-sidebar.close-button" class="help-sidebar__close-button">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
            <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z" />
        </svg>
    </button>

    <div class="help-sidebar__search">
        <input required class="help-sidebar__search-input" data-element="help-sidebar.search-input" />
        <svg xmlns="http://www.w3.org/2000/svg" class="help-sidebar__search-icon" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16">
            <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
        </svg>
        <div class="help-sidebar__search-results"></div>
    </div>

    <ul>
        <li>
            <a href="/help/">Help</a>
        </li>
        <li>
            <a href="/help/getting-started/">Kom igång</a>
            <ul>
                <li>
                    <a href="/help/getting-started/student.html">Student</a>
                </li>
            </ul>
        </li>
        <li>Betyg</li>
        <li>Nyheter</li>
    </ul>

    <script>
        // Set css class on current link
        (function () {
            const path = location.pathname.replace('index.html', '');
            const links = document.querySelectorAll('[data-element="help-sidebar"] ul a');

            for (const link of links) {
                const href = link.getAttribute('href').replace('index.html', '');
                if (href === path) {
                    link.classList.add('SELECTED');
                    const parentList = link.closest('ul');
                    if(parentList) {
                        parentList.classList.add('SELECTED');
                    }
                    break;
                }
            }
        })();
    </script>

</div>