<link rel="stylesheet" href="/css/components/help-sidebar.css">
<script defer src="https://cdn.jsdelivr.net/npm/fuse.js@6.4.6"></script>
<script defer src="/js/components/help-sidebar.js"></script>

<div class="help-sidebar">
    <div class="help-sidebar__search">
        <input required data-element="help-sidebar.search-input" class="help-sidebar__search-input" />
        <div class="help-sidebar__search-results"></div>
    </div>
    <ul>
        <li>Start</li>
        <li>Kom igång</li>
        <li>Betyg</li>
        <li>Nyheter</li>
    </ul>
</div>